//color
$color-header-bg = #2d2c2f
$color-tab-bg = #3c3b3f
$color-body-bg = #f0efec

$color-border = #e7e7e7

$color-title = #4d4d4d
$color-text = #6d6f71

$color-white = #fff
$color-red = #ea4e4e
$color-pink = #ea4c89
$color-orange = #dd4b39
$color-gray = #3c3b3f
$color-blue1 = #55acee
$color-blue2 = #3b5998
$color-green = #3f729b

//font-size
$size-small = 10px
$size-small-x = 12px
$size-middle = 14px
$size-middle-x = 16px
$size-large = 18px
$size-large-x = 20px
